.main_action {
	display: flex;
	align-items: center;
	gap: 10px;

	.dots {
		cursor: pointer;
		transform: 0.3s;
		opacity: 0.7;

		&:hover {
			opacity: 1;
		}

		&:active {
			transform: scale(0.9);
		}
	}
}

.header {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 12px;
	justify-content: space-between;
}

.main_search {
	display: flex;
	align-items: center;
	gap: 12px;
}

.search {
	min-width: 296px;
}

.filter {
	min-width: 220px;
}

.table {
	margin-top: 16px;
}
