.container {
	border-radius: 8px;
	background: #fff;
	padding: 16px 24px;

	h4 {
		color: #2f3d50;
		font-size: 16px;
		font-weight: 700;
		margin-bottom: 16px;
	}
}

.control {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.left {
	display: flex;
	align-items: center;
	gap: 12px;
}

.table {
	margin-top: 16px;
}

.btn {
	width: fit-content;
	height: 40px;
}

.link {
	font-weight: 700;
	color: var(--primary);

	&:hover {
		text-decoration: underline;
	}
}
