$widthTablet: 1200px;
$widthMobile: 768px;

$low-widthMobile: 480px; // Low mobile

// Baselayout
$height-header: 60px;
$height-breadcrumb: 60px;
$width-tab: 240px;
$width-tab-hidden: 84px;
$duration: 0.1s;
