$color-placeholder: #b4b5bc;
$color-focus: #2367ed;
$bg-focus: #fff;

.calendar {
	position: relative;
	cursor: pointer;
	display: flex;
	align-items: center;
	border-radius: 8px;
	border: 1px solid var(--border-color);
	background-color: var(--bg-light);
	font-size: 16px;
	font-weight: 500;
	padding: 8px 20px;

	&.placeholder {
		font-weight: 500;
		color: $color-placeholder;
	}

	&.focus {
		border: 1px solid $color-focus !important;
		background-color: $bg-focus !important;
	}

	.icon {
		margin-right: 8px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.clean {
		position: absolute;
		right: 12px;
		opacity: 0.7;
	}
}

.label {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 8px;
	display: block;
}
