@import '../../../../../styles/variables';

.container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 24px;
}

.left {
	display: flex;
	align-items: center;
	gap: 8px;
	color: #515c69;
	font-weight: 500;
}

.groupArrows {
	display: flex;
	justify-content: center;
	align-items: center;
}

.arrow {
	cursor: pointer;
	user-select: none;
	transition: 0.2s;

	&:active {
		transform: scale(0.9);
	}

	&.active {
		transform: rotate(180deg);
	}

	.iconHamburger {
		width: 20px;
		height: 20px;
	}
}

.title {
	color: #27282b;
	font-size: 18px;
	font-weight: 700;
	margin-left: 24px;
}

.right {
	display: flex;
	align-items: center;
	gap: 16px;
}

.icon_bell {
	position: relative;
	cursor: pointer;
	user-select: none;
	width: 24px;
	height: 24px;
}

.info {
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 16px;
	user-select: none;
}

.avatar {
	width: 36px;
	height: 36px;
}

.name {
	color: var(--neutral);
	font-size: 14px;
	font-weight: 600;
	user-select: none;
}

.lang {
	display: grid;
	align-items: center;
	grid-template-columns: 20px 1fr 16px;
	min-width: 160px;
	gap: 8px;
	cursor: pointer;
	padding: 4px 12px;
	user-select: none;
	border-radius: 4px;
	border: 0.5px solid rgba(146, 154, 169, 0.3);
	background: #fff;
	color: #353945;
	font-size: 14px;
	font-weight: 600;

	.icon_arrow {
		transition: 0.3s;

		&.active_icon {
			transform: rotate(-180deg);
		}
	}
}

.option {
	border: 0.5px solid rgba(146, 154, 169, 0.3);
	background: #fff;
	padding: 4px;
	border-radius: 4px;
	min-width: 160px;
}

.lang_item {
	display: grid;
	align-items: center;
	grid-template-columns: 20px 1fr 16px;
	gap: 8px;
	cursor: pointer;
	padding: 4px 6px;
	border-radius: 4px;
	user-select: none;
	color: #141414;
	font-size: 14px;
	font-weight: 600;
	transition: 0.3s;

	i {
		font-size: 20px;
	}

	&:hover {
		cursor: pointer;
		background: #f4f5f6;
	}

	&.active {
		background: #f4f5f6;
	}

	& + & {
		margin-top: 4px;
	}
}

@media (min-width: $widthMobile) and (max-width: $widthTablet) {
	.arrow {
		display: none;
	}

	.title {
		margin-left: 0;
	}
}
