$bg: #fff;
$bg-focus: #fff;
$bg-btn: #2367ed;

$color-btn: #fff;
$color-placeholder: #b4b5bc;
$color-clean: #29303c;
$color-focus: #2367ed;
$color-done: #2cae39;
$color-error: #e93a3a;

$border: #e1e5ed;

$border-radius: 2px;
$padding: 8px 20px;
$font-size: 16px;
.main_page {
	background: $bg;
	padding: 16px;
}
.header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.left {
	h4 {
		color: var(--dark-2);
		font-size: 24px;
		font-weight: 700;
	}

	p {
		color: var(--neutrals-2);
		font-size: 14px;
		font-weight: 500;
	}
}

.right {
	display: flex;
	gap: 12px;
}