.container {
	border-radius: 20px;
	background: var(--bg-light);
	padding: 48px;
	width: 520px;
}

.title {
	color: var(--dark);
	font-size: 28px;
	font-weight: 700;
	line-height: 36px;
}

.text {
	margin-top: 4px;
	color: var(--neutrals);
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
}

.form,
.btn,
.rememberLogin {
	margin-top: 24px;
}

.rememberLogin {
	display: flex;
	align-items: center;
	gap: 12px;
	user-select: none;
}

.des {
	color: var(--grey-1);
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
}
