.container {
	border-radius: 20px;
	background: var(--bg-light);
	padding: 48px;
	width: 707px;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.title {
	color: #2f3d50;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	margin-bottom: 4px;
}

.logo_icon {
	width: 130px;
	height: 54px;
	margin-bottom: 24px;
}
.text {
	color: #9ca8b9;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
}

.form,
.btn,
.rememberLogin {
	margin-top: 24px;
}

.rememberLogin {
	display: flex;
	align-items: center;
	gap: 12px;
	user-select: none;
}

.des {
	color: var(--grey-1);
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
}
