.header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	align-items: center;
}
.header_title {
	display: flex;
	align-items: center;
	gap: 12px;

	p {
		color: var(--dark-2);
		font-size: 20px;
		font-weight: 600;
	}
}
.list_btn {
	display: flex;
	gap: 8px;
}

.btn_LuPencil {
	cursor: pointer;
	user-select: none;
	height: 40px;
	display: flex;
	align-items: center;
	gap: 6px;
	padding: 10px 12px;
	border-radius: 2px;
	border: 1px solid var(--border-color);
	transition: 0.2s;

	p {
		color: var(--dark-2);
		font-size: 14px;
		font-weight: 600;
	}

	&:hover {
		opacity: 0.8;
	}
}

.table_infor {
	table-layout: fixed;
	width: 100%;
}

.column {
	display: flex;
	border: 1px solid #e1e5ed;
}

.row {
	flex: 1;
}

.row div {
	place-items: center;
	padding-left: 24px;
	border: 1px solid #e1e5ed;
}

.fullDescription {
	flex: 1;
}

.container {
	border-radius: 8px;
	background: #fff;
	padding: 16px 24px;

	h4 {
		color: #2f3d50;
		font-size: 16px;
		font-weight: 700;
		margin-bottom: 16px;
	}
}

.table table {
	border: 1px solid #e1e5ed;
	border-collapse: collapse;
	width: 100%;
}

.table td {
	border: 1px solid #e1e5ed;
	padding-left: 15px;
	padding-right: 24px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-weight: 700;
}

.table span {
	font-weight: 600;
}

.table .description {
	vertical-align: top;
}

.table tr:first-child td {
	border-top: none;
}

.table tr:last-child td {
	border-bottom: none;
}

.table tr td:first-child {
	border-left: none;
}

.table tr td:last-child {
	border-right: none;
}

.list_title {
	color: #23262f;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 32px;
}
