.container {
	border-radius: 20px;
	background: var(--bg-light);
	padding: 48px;
	width: 520px;
}

.title {
	color: var(--dark);
	font-size: 28px;
	font-weight: 700;
	line-height: 36px;
}

.text {
	margin-top: 4px;
	color: var(--neutrals);
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
}

.main {
	margin-top: 24px;
}
