.btn {
	margin-top: 24px;
}

.note {
	margin-top: 16px;
	font-size: 14px;
	font-weight: 600;

	span {
		margin-right: 4px;
	}

	.link {
		transition: 0.3s;
		color: #2d74ff;

		&:hover {
			text-decoration: underline;
		}
	}
}
