.main_action {
	display: flex;
	align-items: center;
	gap: 10px;

	.dots {
		cursor: pointer;
		transform: 0.3s;
		opacity: 0.7;

		&:hover {
			opacity: 1;
		}

		&:active {
			transform: scale(0.9);
		}
	}
}

.control {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.left {
	display: flex;
	align-items: center;
	gap: 12px;
}

.table {
	margin-top: 16px;
}
